.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.container:after,
.row:after {
  clear: both;
  content: "";
  display: table;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.xs-1,
.sm-1,
.md-1,
.lg-1,
.xs-2,
.sm-2,
.md-2,
.lg-2,
.xs-3,
.sm-3,
.md-3,
.lg-3,
.xs-4,
.sm-4,
.md-4,
.lg-4,
.xs-5,
.sm-5,
.md-5,
.lg-5,
.xs-6,
.sm-6,
.md-6,
.lg-6,
.xs-7,
.sm-7,
.md-7,
.lg-7,
.xs-8,
.sm-8,
.md-8,
.lg-8,
.xs-9,
.sm-9,
.md-9,
.lg-9,
.xs-10,
.sm-10,
.md-10,
.lg-10,
.xs-11,
.sm-11,
.md-11,
.lg-11,
.xs-12,
.sm-12,
.md-12,
.lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.xs-1,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-10,
.xs-11,
.xs-12 {
  float: left;
}
.xs-12 {
  width: 100%;
}
.xs-11 {
  width: 91.66666667%;
}
.xs-10 {
  width: 83.33333333%;
}
.xs-9 {
  width: 75%;
}
.xs-8 {
  width: 66.66666667%;
}
.xs-7 {
  width: 58.33333333%;
}
.xs-6 {
  width: 50%;
}
.xs-5 {
  width: 41.66666667%;
}
.xs-4 {
  width: 33.33333333%;
}
.xs-3 {
  width: 25%;
}
.xs-2 {
  width: 16.66666667%;
}
.xs-1 {
  width: 8.33333333%;
}
.xs-pull-12 {
  right: 100%;
}
.xs-pull-11 {
  right: 91.66666667%;
}
.xs-pull-10 {
  right: 83.33333333%;
}
.xs-pull-9 {
  right: 75%;
}
.xs-pull-8 {
  right: 66.66666667%;
}
.xs-pull-7 {
  right: 58.33333333%;
}
.xs-pull-6 {
  right: 50%;
}
.xs-pull-5 {
  right: 41.66666667%;
}
.xs-pull-4 {
  right: 33.33333333%;
}
.xs-pull-3 {
  right: 25%;
}
.xs-pull-2 {
  right: 16.66666667%;
}
.xs-pull-1 {
  right: 8.33333333%;
}
.xs-pull-0 {
  right: auto;
}
.xs-push-12 {
  left: 100%;
}
.xs-push-11 {
  left: 91.66666667%;
}
.xs-push-10 {
  left: 83.33333333%;
}
.xs-push-9 {
  left: 75%;
}
.xs-push-8 {
  left: 66.66666667%;
}
.xs-push-7 {
  left: 58.33333333%;
}
.xs-push-6 {
  left: 50%;
}
.xs-push-5 {
  left: 41.66666667%;
}
.xs-push-4 {
  left: 33.33333333%;
}
.xs-push-3 {
  left: 25%;
}
.xs-push-2 {
  left: 16.66666667%;
}
.xs-push-1 {
  left: 8.33333333%;
}
.xs-push-0 {
  left: auto;
}
.xs-offset-12 {
  margin-left: 100%;
}
.xs-offset-11 {
  margin-left: 91.66666667%;
}
.xs-offset-10 {
  margin-left: 83.33333333%;
}
.xs-offset-9 {
  margin-left: 75%;
}
.xs-offset-8 {
  margin-left: 66.66666667%;
}
.xs-offset-7 {
  margin-left: 58.33333333%;
}
.xs-offset-6 {
  margin-left: 50%;
}
.xs-offset-5 {
  margin-left: 41.66666667%;
}
.xs-offset-4 {
  margin-left: 33.33333333%;
}
.xs-offset-3 {
  margin-left: 25%;
}
.xs-offset-2 {
  margin-left: 16.66666667%;
}
.xs-offset-1 {
  margin-left: 8.33333333%;
}
.xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .sm-1,
  .sm-2,
  .sm-3,
  .sm-4,
  .sm-5,
  .sm-6,
  .sm-7,
  .sm-8,
  .sm-9,
  .sm-10,
  .sm-11,
  .sm-12 {
    float: left;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-pull-12 {
    right: 100%;
  }
  .sm-pull-11 {
    right: 91.66666667%;
  }
  .sm-pull-10 {
    right: 83.33333333%;
  }
  .sm-pull-9 {
    right: 75%;
  }
  .sm-pull-8 {
    right: 66.66666667%;
  }
  .sm-pull-7 {
    right: 58.33333333%;
  }
  .sm-pull-6 {
    right: 50%;
  }
  .sm-pull-5 {
    right: 41.66666667%;
  }
  .sm-pull-4 {
    right: 33.33333333%;
  }
  .sm-pull-3 {
    right: 25%;
  }
  .sm-pull-2 {
    right: 16.66666667%;
  }
  .sm-pull-1 {
    right: 8.33333333%;
  }
  .sm-pull-0 {
    right: auto;
  }
  .sm-push-12 {
    left: 100%;
  }
  .sm-push-11 {
    left: 91.66666667%;
  }
  .sm-push-10 {
    left: 83.33333333%;
  }
  .sm-push-9 {
    left: 75%;
  }
  .sm-push-8 {
    left: 66.66666667%;
  }
  .sm-push-7 {
    left: 58.33333333%;
  }
  .sm-push-6 {
    left: 50%;
  }
  .sm-push-5 {
    left: 41.66666667%;
  }
  .sm-push-4 {
    left: 33.33333333%;
  }
  .sm-push-3 {
    left: 25%;
  }
  .sm-push-2 {
    left: 16.66666667%;
  }
  .sm-push-1 {
    left: 8.33333333%;
  }
  .sm-push-0 {
    left: auto;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .md-1,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9,
  .md-10,
  .md-11,
  .md-12 {
    float: left;
  }
  .md-12 {
    width: 100%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-9 {
    width: 75%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-6 {
    width: 50%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-3 {
    width: 25%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-1 {
    width: 8.33333333%;
  }
  .md-pull-12 {
    right: 100%;
  }
  .md-pull-11 {
    right: 91.66666667%;
  }
  .md-pull-10 {
    right: 83.33333333%;
  }
  .md-pull-9 {
    right: 75%;
  }
  .md-pull-8 {
    right: 66.66666667%;
  }
  .md-pull-7 {
    right: 58.33333333%;
  }
  .md-pull-6 {
    right: 50%;
  }
  .md-pull-5 {
    right: 41.66666667%;
  }
  .md-pull-4 {
    right: 33.33333333%;
  }
  .md-pull-3 {
    right: 25%;
  }
  .md-pull-2 {
    right: 16.66666667%;
  }
  .md-pull-1 {
    right: 8.33333333%;
  }
  .md-pull-0 {
    right: auto;
  }
  .md-push-12 {
    left: 100%;
  }
  .md-push-11 {
    left: 91.66666667%;
  }
  .md-push-10 {
    left: 83.33333333%;
  }
  .md-push-9 {
    left: 75%;
  }
  .md-push-8 {
    left: 66.66666667%;
  }
  .md-push-7 {
    left: 58.33333333%;
  }
  .md-push-6 {
    left: 50%;
  }
  .md-push-5 {
    left: 41.66666667%;
  }
  .md-push-4 {
    left: 33.33333333%;
  }
  .md-push-3 {
    left: 25%;
  }
  .md-push-2 {
    left: 16.66666667%;
  }
  .md-push-1 {
    left: 8.33333333%;
  }
  .md-push-0 {
    left: auto;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-offset-0 {
    margin-left: 0;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
body,
#container {
  height: 100%;
}
body {
  color: #565a5f;
  background: background-body;
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
code {
  margin: 0 2px;
  color: #e96900;
  padding: 1px 5px;
  font-size: 1em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "Fira Code", "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  background-color: #f8f8f8;
}
.outer {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 0;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
@media mq-mini {
  .outer {
    padding: 0;
  }
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
.logo {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("images/logo.png");
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
}
@media screen and (max-width: 768px) {
  .row-mobile {
    margin-left: -10px;
    margin-right: -10px;
  }
}
#header-inner #logo,
#sub-nav,
#search-form-wrap {
  height: 64px;
  line-height: 64px;
}
.timeline-row-major .title,
#list,
.widget-series {
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
#comments,
.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap,
.layout-title,
.archive-article,
.category-list .category-list-item a,
.timeline-row .content,
.widget-wrap,
#toTop {
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.archive-article-header a,
.layout-wrap-inner.tag-cloud a,
.timeline-row .content h1 a,
.archive-article-header a:visited,
.layout-wrap-inner.tag-cloud a:visited,
.timeline-row .content h1 a:visited {
  color: #565a5f;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.archive-article-header a:hover,
.layout-wrap-inner.tag-cloud a:hover,
.timeline-row .content h1 a:hover,
.archive-article-header a:visited:hover,
.layout-wrap-inner.tag-cloud a:visited:hover,
.timeline-row .content h1 a:visited:hover {
  color: #38b7ea;
}
.article-meta,
.archive-year,
.widget-title {
  line-height: 1em;
  text-decoration: none;
}
.article-entry h1,
#sidebar h1,
.widget h1 {
  font-size: 2em;
}
.article-entry h2,
#sidebar h2,
.widget h2 {
  font-size: 1.5em;
}
.article-entry h3,
#sidebar h3,
.widget h3 {
  font-size: 1.3em;
}
.article-entry h4,
#sidebar h4,
.widget h4 {
  font-size: 1.2em;
}
.article-entry h5,
#sidebar h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
#sidebar h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
#sidebar hr,
.widget hr {
  border: 1px dashed #eceff2;
}
.article-entry strong,
#sidebar strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
#sidebar em,
.widget em,
.article-entry cite,
#sidebar cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
#sidebar sup,
.widget sup,
.article-entry sub,
#sidebar sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
#sidebar sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
#sidebar sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
#sidebar small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
#sidebar acronym,
.widget acronym,
.article-entry abbr,
#sidebar abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
#sidebar ul,
.widget ul,
.article-entry ol,
#sidebar ol,
.widget ol,
.article-entry dl,
#sidebar dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.9em;
}
.article-entry ul ul,
#sidebar ul ul,
.widget ul ul,
.article-entry ol ul,
#sidebar ol ul,
.widget ol ul,
.article-entry ul ol,
#sidebar ul ol,
.widget ul ol,
.article-entry ol ol,
#sidebar ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
#sidebar ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
#sidebar ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
#sidebar dt,
.widget dt {
  font-weight: bold;
}
#header {
  position: relative;
  margin-bottom: 68px;
}
#header a,
#header a:visited {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #565a5f;
}
#header a:hover {
  color: #38b7ea;
}
#header-inner {
  height: 64px;
  position: relative;
}
#header-inner #logo {
  float: left;
  margin-right: 24px;
  display: inline-block;
}
#header-inner #logo .logo {
  margin: 12px 5px 0 0;
  display: block;
  float: left;
}
#header-inner #logo #site-title {
  font-size: 16px;
  font-weight: 600;
  float: left;
}
#main-nav {
  float: left;
  line-height: 64px;
}
@media screen and (max-width: 768px) {
  #main-nav {
    display: none;
  }
}
#header-title {
  text-align: center;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
.header-sub {
  border-top: 1px solid #eceff2;
}
.header-sub ul {
  margin: 0 15px;
}
.header-sub ul:before,
.header-sub ul:after {
  content: "";
  display: table;
}
.header-sub ul:after {
  clear: both;
}
.header-sub ul li {
  float: left;
  margin: 0 10px;
}
.header-sub ul li a {
  display: inline-block;
  line-height: 48px;
}
.header-sub .main-nav-link {
  display: inline-block;
  line-height: 48px;
}
.nav-icon,
.main-nav-link {
  float: left;
  display: block;
  padding: 0 15px;
}
.nav-icon {
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  position: relative;
  cursor: pointer;
  height: 40px !important;
  line-height: 40px !important;
}
.main-nav-link {
  font-weight: 300;
}
#sub-nav {
  float: right;
}
@media screen and (max-width: 768px) {
  #sub-nav {
    padding-top: 12px;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  #sub-nav {
    padding-top: 12px;
    margin-left: 12px;
  }
}
@media screen and (min-width: 992px) {
  #sub-nav {
    display: none;
  }
}
#sub-nav #profile-nav #profile-anchor {
  display: block;
  height: 40px;
  line-height: 40px;
}
#sub-nav #profile-nav #profile-anchor:before,
#sub-nav #profile-nav #profile-anchor:after {
  content: "";
  display: table;
}
#sub-nav #profile-nav #profile-anchor:after {
  clear: both;
}
#sub-nav #profile-nav .avatar,
#sub-nav #profile-nav .fa {
  float: left;
}
#sub-nav #profile-nav .avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
#sub-nav #profile-nav .fa {
  line-height: 40px;
}
#search-form-wrap {
  float: right;
}
@media screen and (max-width: 768px) {
  #search-form-wrap {
    display: none;
  }
}
#search-form-wrap .search-form {
  position: relative;
}
#search-form-wrap .search-form .search-form-input {
  width: 100%;
  padding: 0 30px 0 15px;
  line-height: 40px;
  height: 40px !important;
  -webkit-border-radius: 21px;
  border-radius: 21px;
}
#search-form-wrap .search-form .search-form-input::-webkit-search-results-decoration,
#search-form-wrap .search-form .search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form-wrap .search-form .search-form-submit {
  top: 50%;
  right: 15px;
  border: none;
  cursor: pointer;
  margin-top: -7px;
  background: none;
  position: absolute;
  font: 13px font-icon;
  font-family: 'FontAwesome';
}
#search-form-wrap .search-form .search-form-submit:before {
  content: '\f002';
}
#search-form-wrap .search-form .search-form-submit:hover,
#search-form-wrap .search-form .search-form-submit:focus {
  color: #777;
}
.search-form-input,
.search-form-input.ins-search-input,
.search-form-input.st-ui-search-input,
.search-form-input.st-default-search-input {
  -webkit-appearance: textarea;
  -webkit-appearance: textarea;
  -moz-appearance: textarea;
  appearance: textarea;
  padding: 0;
  width: 200px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #565a5f;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
  line-height: 1.9em;
  outline: none !important;
  background: none !important;
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  border: 1px solid #eceff2 !important;
}
.search-form-input:focus,
.search-form-input.ins-search-input:focus,
.search-form-input.st-ui-search-input:focus,
.search-form-input.st-default-search-input:focus {
  border-color: #38b7ea !important;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input.ins-search-input::-webkit-search-results-decoration,
.search-form-input.st-ui-search-input::-webkit-search-results-decoration,
.search-form-input.st-default-search-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button,
.search-form-input.ins-search-input::-webkit-search-cancel-button,
.search-form-input.st-ui-search-input::-webkit-search-cancel-button,
.search-form-input.st-default-search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#main-nav-mobile {
  overflow-y: hidden;
  overflow-x: auto;
  background: #fff;
}
#main-nav-mobile .menu {
  margin: 0;
  height: 48px;
}
#main-nav-mobile .menu:before,
#main-nav-mobile .menu:after {
  content: "";
  display: table;
}
#main-nav-mobile .menu:after {
  clear: both;
}
#main-nav-mobile .menu .search-form-input {
  display: none;
  padding: 0 10px;
  margin-right: 15px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
@media screen and (max-width: 768px) {
  #main-nav-mobile .menu .search-form-input {
    display: block;
  }
}
#main-nav-mobile .menu .search-form-input::-webkit-search-results-decoration,
#main-nav-mobile .menu .search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#profile {
  margin-bottom: 68px;
}
#profile #avatar {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 28px;
}
#profile #avatar img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#profile #site-title {
  margin-bottom: 15px;
  font-size: 19px;
  text-align: center;
}
#profile #site-description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 18px;
}
#profile #site-state {
  margin-bottom: 20px;
  text-align: center;
}
#profile #site-state .site-state-item {
  border-left: 1px solid #f0f0f0;
  display: inline-block;
  padding: 0 15px;
}
#profile #site-state .site-state-item .site-state-item-count {
  font-size: 18px;
  font-style: italic;
  color: #333;
  text-align: center;
}
#profile #site-state .site-state-item .site-state-item-name {
  font-size: 13px;
  color: #666;
  text-align: center;
}
#profile #social-links {
  text-align: center;
}
.scope-title {
  margin-bottom: 26px;
  position: relative;
}
.scope-title span {
  background: #fff;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  padding-right: 16px;
  z-index: 1;
  left: 0;
}
.scope-title:after {
  content: ' ';
  position: absolute;
  height: 2px;
  background: #f0f0f0;
  right: 0;
  left: 0;
  top: 15px;
}
.last-entry {
  margin-bottom: 58px;
}
.last-entry .last-entry-img {
  margin-bottom: 18px;
}
.last-entry .last-entry-img .thumbnail {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.last-entry .last-entry-title {
  margin-bottom: 12px;
}
.last-entry .last-entry-title a {
  font-size: 22px;
}
.last-entry .last-entry-title a:hover {
  color: #666;
}
.last-entry .last-entry-content {
  font-size: 16px;
}
.entry {
  overflow: hidden;
  margin-bottom: 46px;
}
.entry .entry-img {
  float: left;
  width: 128px;
  height: 88px;
  margin-right: 18px;
}
.entry .entry-img .thumbnail {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.entry .entry-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}
.entry .entry-content {
  font-size: 15px;
}
.entry .entry-meta {
  overflow: hidden;
}
.article-position-true a.article-title {
  font-size: 21px;
}
@media screen and (max-width: 768px) {
  .article-position-true a.article-title {
    font-size: 18px;
    line-height: 1em !important;
  }
}
.article-position-true .article-img {
  margin: 0 20px 20px;
}
@media screen and (max-width: 768px) {
  .article-position-true .article-img {
    margin: 0 12px 6px;
  }
}
.article-position-true .article-entry {
  background: #fafafa;
  padding: 22px;
}
@media screen and (max-width: 768px) {
  .article-position-true .article-entry {
    padding: 0 13px 13px;
  }
}
.article-position-true .article-entry h1,
.article-position-true .article-entry h2,
.article-position-true .article-entry h3,
.article-position-true .article-entry h4,
.article-position-true .article-entry h5,
.article-position-true .article-entry h6 {
  margin: 0 0 8px;
}
@media screen and (max-width: 768px) {
  .article-position-true .article-entry h1,
  .article-position-true .article-entry h2,
  .article-position-true .article-entry h3,
  .article-position-true .article-entry h4,
  .article-position-true .article-entry h5,
  .article-position-true .article-entry h6 {
    margin: 0 0 3px;
    line-height: 0.6em !important;
  }
}
.article-position-true .article-entry p {
  font-size: 14px;
  color: #666;
  margin: 0;
/*overflow:hidden
            text-overflow:ellipsis
            -o-text-overflow:ellipsis
            white-space:nowrap
            width:100%*/
}
.article {
  margin-bottom: 12px;
}
.article-inner {
  overflow: hidden;
}
.article-banner {
  width: 100%;
  height: auto;
}
.article-header {
  padding: 20px 20px 0;
}
@media screen and (max-width: 768px) {
  .article-header {
    padding: 13px 13px 0;
  }
}
.article-header .article-title {
  display: block;
  margin-bottom: 6px;
}
.article-title {
  font-size: 2em;
  color: #565a5f;
  text-decoration: none;
  line-height: 0.9em;
}
a.article-title:visited {
  color: #565a5f;
}
a.article-title:hover {
  color: #38b7ea;
}
@media screen and (max-width: 768px) {
  .article-title {
    font-size: 1.6em;
  }
}
.article-img {
  margin-bottom: 20px;
}
.thumbnail {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 332px;
  display: block;
  border: 1px solid #f3f3f3;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .thumbnail {
    height: 200px;
  }
}
.thumbnail .thumbnail-image {
  display: block;
  width: 100%;
  height: 100%;
}
.article-meta {
  line-height: 1.6em;
  margin-bottom: 12px;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta > div .fa {
  margin-right: 3px;
}
.article-meta a {
  color: #565a5f;
}
.article-meta a:hover {
  color: #38b7ea;
}
.article-category-img {
  float: left;
  width: 32px;
  height: 32px;
  color: #ffa200;
  font-size: 20px;
  font-weight: 600;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ffa200;
  background: #f8f8f8;
  text-align: center;
  line-height: 32px;
  margin-right: 6px;
}
.article-category {
  float: left;
  padding: 2px 6px;
  color: #000;
  font-size: 16px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 4px;
}
.article-category .article-category-link {
  color: #000;
}
.article-category .fa-angle-right {
  margin: 0 5px;
}
.article-date {
  margin-top: 4px;
  float: right;
}
.article-date a {
  color: #888;
}
.article-tag .tag-link {
  border: 1px solid #6ae3ff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
}
.article-entry {
  color: #565a5f;
  padding: 0 20px;
  line-height: 1.9em;
}
@media screen and (max-width: 768px) {
  .article-entry {
    padding: 0 12px;
  }
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry table {
  line-height: 20px;
  margin: 12px 0;
}
.article-entry p {
  line-height: 1.8em;
  margin: 16px 0;
  font-size: 15px;
  word-wrap: break-word;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.3em;
  margin: 0 0 0.9em 0;
}
.article-entry a {
  color: #38b7ea;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.9em;
  margin-bottom: 1.9em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 18px auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #eceff2;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #eceff2;
}
.article-entry blockquote {
  position: relative;
  font-family: Georgia, "Times New Roman", "Microsoft Yahei", serif;
  font-size: 1.1em;
  margin: 0 -20px;
  padding: 10px 20px 10px 54px;
  background: #fcfcfc;
  border-left: 4px solid #eee;
}
.article-entry blockquote:before {
  top: 20px;
  left: 10px;
  content: "\f10d";
  color: #e2e2e2;
  font-size: 32px;
  font-family: FontAwesome;
  text-align: center;
  position: absolute;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.9em 0;
  font-family: "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #f0f0f0;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #38b7ea;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #169cd2;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.9em;
  border-top: 1px solid #eceff2;
  padding-top: 1.9em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #565a5f;
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 5px;
}
.share-container {
  float: left;
}
.article-share-link {
  float: right;
  cursor: pointer;
  margin-left: 20px;
}
.article-share-link .fa-share {
  margin-right: 5px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 992px) {
  #article-nav {
    margin: 12px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #787c81;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 12px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #565a5f;
}
@media screen and (min-width: 992px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  letter-spacing: 2px;
  line-height: 1em;
  font-weight: bold;
  color: #565a5f;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  margin-top: 0.5em;
  color: #565a5f;
  line-height: 1.9em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  padding: 0 10px;
  color: #565a5f;
  outline: none;
  border: 1px solid #eceff2;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #f0f0f0;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.toc-article {
  background: #f9f9f9;
  margin: 2em 0 0 0.2em;
  padding: 1em;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.toc-article .toc-title {
  font-size: 120%;
}
.toc-article strong {
  padding: 0.3em 1;
}
ol.toc {
  width: 100%;
  margin: 1em 2em 0 0;
}
#toc {
  line-height: 1em;
  font-size: 0.8em;
  float: right;
}
#toc .toc {
  padding: 0;
}
#toc .toc li {
  list-style-type: none;
}
#toc .toc-child {
  padding-left: 0em;
}
#toc.toc-aside {
  display: none;
  width: 13%;
  position: fixed;
  right: 2%;
  top: 320px;
  overflow: hidden;
  line-height: 1.5em;
  font-size: 1em;
  color: color-heading;
  opacity: 0.6;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
#toc.toc-aside strong {
  padding: 0.3em 0;
  color: color-font;
}
#toc.toc-aside:hover {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 1;
}
#toc.toc-aside a {
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -ms-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
#toc.toc-aside a:hover {
  color: color-theme;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
#comments {
  padding: 20px;
  margin: 12px 0;
}
#comments a {
  color: #38b7ea;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archives .article:first-child {
  margin: 20px 0;
}
.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap,
.layout-title {
  font-size: 16px;
  margin: 0 0 10px;
  display: inline-block;
  padding: 8px 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ffa200;
}
@media mq-mini {
  .archive-year-wrap,
  .archive-category-wrap,
  .archive-tag-wrap,
  .layout-title {
    padding: 0 15px;
    font-size: 1.2em;
  }
}
.archive-year-wrap .fa,
.archive-category-wrap .fa,
.archive-tag-wrap .fa,
.layout-title .fa {
  margin-right: 3px;
}
.archive-year-wrap .archive-year,
.archive-category-wrap .archive-year,
.archive-tag-wrap .archive-year,
.layout-title .archive-year {
  color: #565a5f;
}
.archive-year-wrap .archive-year:hover,
.archive-category-wrap .archive-year:hover,
.archive-tag-wrap .archive-year:hover,
.layout-title .archive-year:hover {
  color: #38b7ea;
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
  padding: 0;
  margin-bottom: 15px;
}
.archive-article:before,
.archive-article:after {
  content: "";
  display: table;
}
.archive-article:after {
  clear: both;
}
.archive-article.archive-type-summary {
  padding: 15px;
}
.archive-article.archive-type-summary .article-entry {
  padding: 0;
}
.archive-article.archive-type-summary .article-entry p {
  margin: 12px 0;
}
.archive-article .archive-article-content,
.archive-article .archive-article-thumbnail {
  display: table-cell;
  vertical-align: top;
}
@media mq-mini {
  .archive-article .archive-article-content,
  .archive-article .archive-article-thumbnail {
    display: block;
  }
}
.archive-article .archive-article-thumbnail {
  width: 160px;
  padding-right: 15px;
}
@media mq-mini {
  .archive-article .archive-article-thumbnail {
    width: 100%;
    padding-bottom: 15px;
  }
}
.archive-article .archive-article-thumbnail .thumbnail {
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  display: block;
  position: relative;
  overflow: hidden;
}
.archive-article .archive-article-thumbnail .thumbnail span {
  width: 100%;
  height: 100%;
  display: block;
}
.archive-article .archive-article-thumbnail .thumbnail .thumbnail-image {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
.archive-article .archive-article-thumbnail .thumbnail .thumbnail-none {
  background-image: url("images/thumb-default-small.png");
}
.archive-article-title {
  display: block;
  font-size: 1.6em;
  line-height: 1.4em;
  margin-bottom: 12px;
}
@media mq-mini {
  .archive-article-title {
    display: block;
    font-size: 1.3em;
  }
}
.archive-article-date {
  display: block;
  margin-top: 8px;
}
.layout-wrap-inner.list-categories ul {
  list-style: none;
}
.layout-wrap-inner.list-categories ul li,
.layout-wrap-inner.list-categories ul .category-list-child {
  font-size: 14px;
  border-bottom: 1px solid border-color;
}
.layout-wrap-inner.list-categories ul li a,
.layout-wrap-inner.list-categories ul .category-list-child a {
  color: #777;
}
.layout-wrap-inner.list-categories ul ul,
.layout-wrap-inner.list-categories ul ol {
  list-style: none;
}
.layout-wrap-inner.list-categories ul ul li,
.layout-wrap-inner.list-categories ul ol li {
  border: none;
}
.layout-wrap-inner.list-categories ul ul li:last-child,
.layout-wrap-inner.list-categories ul ol li:last-child {
  padding-bottom: 0px;
}
.layout-wrap-inner.list-categories li a:before {
  color: #ccc;
  font-size: 12px;
  margin-right: 6px;
  font-family: FontAwesome;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.layout-wrap-inner.list-categories li a:hover:before {
  color: #333;
}
#page-nav {
  margin: 12px auto;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  height: 32px;
  padding: 0 10px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  color: #fff;
  background: #38b7ea;
}
#page-nav .page-number {
  display: inline-block;
}
@media mq-mini {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #565a5f;
  font-weight: bold;
}
#page-nav .space {
  color: #eceff2;
}
.category-list {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-list .category-list-item {
  padding: 0 10px 10px 0;
  height: 88px;
}
@media screen and (min-width: 992px) {
  .category-list .category-list-item:nth-child(3n) {
    padding-right: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .category-list .category-list-item:nth-child(3n) {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .category-list .category-list-item:nth-child(2n) {
    padding-right: 0;
  }
}
.category-list .category-list-item a {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 100%;
  display: block;
  color: #000 !important;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  padding: 8px;
}
.category-list .category-list-item a:hover {
  background: #aaa;
}
.category-list .category-list-item a .category-list-img {
  width: 36px;
  height: 36px;
  background: #eee;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  margin: 12px 8px 0 6px;
  color: #ffa200;
  text-align: center;
  line-height: 36px;
  font-size: 22px;
  font-weight: 800;
  float: left;
}
.category-list .category-list-item a .category-list-num {
  font-size: 12px;
  color: #777;
  overflow: hidden;
}
.category-list .category-list-item a .category-list-name {
  color: #333;
  overflow: hidden;
}
.tag-list .tag-list-item {
  padding: 0 5px 10px 5px;
  height: 108px;
}
.tag-list .tag-list-item:nth-child(6n) a {
  background: #41566f;
}
.tag-list .tag-list-item:nth-child(6n+1) a {
  background: #d6c573;
}
.tag-list .tag-list-item:nth-child(6n+2) a {
  background: #236892;
}
.tag-list .tag-list-item:nth-child(6n+3) a {
  background: #ff2362;
}
.tag-list .tag-list-item:nth-child(6n+4) a {
  background: #ff8f8f;
}
.tag-list .tag-list-item:nth-child(6n+5) a {
  background: #000;
}
.tag-list .tag-list-item a {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 100%;
  display: block;
  color: #fff !important;
  padding: 8px;
}
.tag-list .tag-list-item a .tag-list-img {
  width: 36px;
  height: 36px;
  background: #fff;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  margin: 8px auto;
  color: #ffa200;
  text-align: center;
  line-height: 36px;
  font-size: 22px;
}
.tag-list .tag-list-item a .tag-list-name {
  text-align: center;
}
.tag-list .tag-list-item:hover .tag-list-img {
  background: #000;
}
.timeline-wrap {
  margin: 12px 0 0 18px;
  border-left: 2px solid #38b7ea;
}
@media mq-mini {
  .timeline-wrap {
    margin: 40px 20px 40px 30px;
  }
}
@media screen and (max-width: 768px) {
  .timeline-wrap {
    margin: 40px 20px 40px 30px;
  }
}
.timeline-row {
  margin: 12px 0;
}
.timeline-row:before,
.timeline-row:after {
  content: "";
  display: table;
}
.timeline-row:after {
  clear: both;
}
.timeline-row .node,
.timeline-row .title {
  float: left;
}
.timeline-row .node {
  width: 12px;
  color: #fff;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 11px 0 0 -8px;
  display: inline-block;
  background-color: #38b7ea;
}
.timeline-row .content {
  margin-left: 25px;
  position: relative;
}
.timeline-row .content:after,
.timeline-row .content:before {
  content: '';
  position: absolute;
  display: inline-block;
}
.timeline-row .content:after {
  top: 10px;
  left: -14px;
  border: 7px solid transparent;
  border-right-color: #fff;
}
.timeline-row .content:before {
  top: 9px;
  left: -16px;
  border: 8px solid transparent;
  border-right-color: rgba(0,0,0,0.05);
}
.timeline-row .content h1,
.timeline-row .content .article-meta {
  padding: 10px;
  margin-bottom: 0;
}
.timeline-row .content h1 {
  font-size: 16px;
}
.timeline-row .content .article-meta {
  font-size: 12px;
  color: #898d92;
  border-top: 1px solid #f7f7f7;
  background-color: rgba(244,246,247,0.2);
}
.timeline-row-major .node {
  width: 30px;
  height: 30px;
  font-size: 14px;
  margin: -6px 0 0 -16px;
  padding: 5px 0 0 8px;
}
.timeline-row-major .title {
  font-size: 14px;
  color: #ffa200;
  margin-left: 12px;
  margin-top: -5px;
  line-height: 30px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 12px;
}
#list {
  margin-bottom: 10px;
}
#list .list-item {
  display: block;
  border-bottom: 1px solid #eee;
}
#list .list-item .list-item-num {
  margin-left: 18px;
  margin-right: 18px;
  font-weight: 900;
  font-size: 18px;
  font-style: italic;
  color: #ffa200;
  text-align: right;
  display: inline-block !important;
  width: 32px;
  padding: 16px 0;
  overflow: hidden;
}
#list .list-item .list-item-title {
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 16px 0;
  display: inline-block !important;
  font-size: 16px !important;
  color: #000;
}
#list .list-item .list-item-date {
  padding: 16px 20px;
  display: inline-block;
  float: right;
}
@media screen and (max-width: 768px) {
  #list .list-item .list-item-date {
    display: none;
  }
}
#list .list-item:hover {
  font-weight: 800;
  background: #f8f8f8;
}
#footer {
  padding: 20px 0;
  border-top: 1px solid #eceff2;
  color: #565a5f;
  font-size: 16px;
  text-align: center;
}
#footer .outer {
  margin-bottom: 0;
}
#footer a {
  color: #38b7ea;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.9em;
  font-size: 0.85em;
}
#sidebar,
.widget {
  line-height: 1.9em;
  word-wrap: break-word;
  font-size: 0.9em;
}
#sidebar ul,
.widget ul,
#sidebar ol,
.widget ol {
  list-style: none;
  margin: 0;
}
#sidebar ul ul,
.widget ul ul,
#sidebar ol ul,
.widget ol ul,
#sidebar ul ol,
.widget ul ol,
#sidebar ol ol,
.widget ol ol {
  margin: 0 20px;
}
#sidebar ul ul,
.widget ul ul,
#sidebar ol ul,
.widget ol ul {
  list-style: disc;
}
#sidebar ul ol,
.widget ul ol,
#sidebar ol ol,
.widget ol ol {
  list-style: decimal;
}
#sidebar a,
.widget a {
  text-decoration: none;
}
#sidebar a:hover,
.widget a:hover {
  color: #333;
}
#sidebar ul ul,
.widget ul ul,
#sidebar ol ul,
.widget ol ul,
#sidebar dl ul,
.widget dl ul,
#sidebar ul ol,
.widget ul ol,
#sidebar ol ol,
.widget ol ol,
#sidebar dl ol,
.widget dl ol,
#sidebar ul dl,
.widget ul dl,
#sidebar ol dl,
.widget ol dl,
#sidebar dl dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
#sidebar ul,
.widget ul,
#sidebar ol,
.widget ol {
  list-style: none;
}
#sidebar ul li,
.widget ul li,
#sidebar ol li,
.widget ol li,
#sidebar ul .category-list-child,
.widget ul .category-list-child,
#sidebar ol .category-list-child,
.widget ol .category-list-child {
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid border-color;
}
#sidebar ul li a,
.widget ul li a,
#sidebar ol li a,
.widget ol li a,
#sidebar ul .category-list-child a,
.widget ul .category-list-child a,
#sidebar ol .category-list-child a,
.widget ol .category-list-child a {
  color: #777;
}
#sidebar ul ul,
.widget ul ul,
#sidebar ol ul,
.widget ol ul,
#sidebar ul ol,
.widget ul ol,
#sidebar ol ol,
.widget ol ol {
  list-style: none;
}
#sidebar ul ul li,
.widget ul ul li,
#sidebar ol ul li,
.widget ol ul li,
#sidebar ul ol li,
.widget ul ol li,
#sidebar ol ol li,
.widget ol ol li {
  border: none;
}
#sidebar ul ul li:last-child,
.widget ul ul li:last-child,
#sidebar ol ul li:last-child,
.widget ol ul li:last-child,
#sidebar ul ol li:last-child,
.widget ul ol li:last-child,
#sidebar ol ol li:last-child,
.widget ol ol li:last-child {
  padding-bottom: 0px;
}
#sidebar ul:not(#recent-post) li a:before,
.widget ul:not(#recent-post) li a:before,
#sidebar ol:not(#recent-post) li a:before,
.widget ol:not(#recent-post) li a:before {
  color: #ccc;
  font-size: 12px;
  margin-right: 6px;
  font-family: FontAwesome;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
#sidebar ul:not(#recent-post) li a:hover:before,
.widget ul:not(#recent-post) li a:hover:before,
#sidebar ol:not(#recent-post) li a:hover:before,
.widget ol:not(#recent-post) li a:hover:before {
  color: #333;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud {
  overflow: hidden;
}
.tagcloud a {
  color: #555;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px !important;
  padding: 2px 5px;
  background: #f7f7f7;
  margin: 5px 5px 5px 0;
  float: left;
  display: block;
}
.tagcloud a:hover {
  background: #f0f0f0;
  color: #333;
}
.widget-wrap {
  margin-bottom: 12px;
  padding: 20px;
}
@media mq-mini {
  .widget-wrap {
    margin: 12px 0;
  }
}
.widget-title {
  margin-bottom: 12px;
}
#toTop {
  display: none;
  cursor: pointer;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 50px;
  line-height: 55px;
  background: #565a5f;
  opacity: 0.8;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 20px;
  position: fixed;
}
@media screen and (max-width: 768px) {
  #toTop {
    width: 52px;
    height: 52px;
    font-size: 34px;
    line-height: 52px;
  }
}
@media mq-mini {
  #toTop {
    width: 48px;
    height: 48px;
    font-size: 32px;
    line-height: 48px;
  }
}
#recent-post li {
  padding: 0 0 10px;
}
#recent-post li:before,
#recent-post li:after {
  content: "";
  display: table;
}
#recent-post li:after {
  clear: both;
}
#recent-post.no-thumbnail li {
  padding: 10px 0px;
}
#recent-post li .item-thumbnail {
  float: left;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#recent-post li .item-thumbnail .thumbnail {
  border: 1px solid #eee;
  width: 66px;
  height: 46px;
  margin-right: 8px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
  position: relative;
  overflow: hidden;
}
#recent-post li .item-thumbnail .thumbnail span {
  width: 100%;
  height: 100%;
  display: block;
}
#recent-post li .item-thumbnail .thumbnail .thumbnail-image {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
#recent-post li .item-thumbnail .thumbnail .thumbnail-none {
  background-image: url("images/thumb-default-small.png");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
#recent-post li .item-inner a,
#recent-post li .item-inner .item-category {
  font-size: 13px;
}
#recent-post li .item-inner a a,
#recent-post li .item-inner .item-category a {
  color: #999;
}
#recent-post li .item-inner a a:hover,
#recent-post li .item-inner .item-category a:hover {
  color: #333;
}
#recent-post li .item-inner a a,
#recent-post li .item-inner .item-category a,
#recent-post li .item-inner a .fa,
#recent-post li .item-inner .item-category .fa {
  margin-right: 5px;
}
#recent-post li .item-inner .item-title {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
#recent-post li .item-inner .item-title a {
  color: #38b7ea;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 15px;
}
#recent-post li .item-inner .item-title a:hover {
  color: #1789b7;
}
#recent-post li .item-inner .item-date {
  color: #aaa;
  font-size: 13px;
}
.widget-series {
  display: block;
  cursor: pointer;
  height: 161px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
  position: relative;
}
.widget-series:after {
  display: block;
  position: absolute;
  content: ' ';
  background: rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.widget-series img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 100%;
}
.widget-series .series-title {
  z-index: 99;
  position: absolute;
  bottom: 20px;
  font-size: 28px;
  color: #fff;
  left: 20px;
}
.ins-search {
  display: none;
}
.ins-search.show {
  display: block;
}
.ins-selectable {
  cursor: pointer;
}
.ins-search-mask,
.ins-search-container {
  position: fixed;
}
.ins-search-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.5);
}
.ins-input-wrapper {
  position: relative;
}
.ins-search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 200;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 28px 12px 20px;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Microsoft Yahei Light", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
.ins-close {
  top: 50%;
  right: 6px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.ins-close:hover {
  color: #006bde;
}
.ins-search-container {
  left: 50%;
  top: 100px;
  z-index: 101;
  bottom: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 540px;
  margin-left: -270px;
}
@media screen and (max-width: 559px), screen and (max-height: 479px) {
  .ins-search-container {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
  }
}
.ins-section-wrapper {
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow-y: auto;
  position: absolute;
}
.ins-section-container {
  position: relative;
  background: #f7f7f7;
}
.ins-section {
  font-size: 14px;
  line-height: 16px;
}
.ins-section .ins-section-header,
.ins-section .ins-search-item {
  padding: 8px 15px;
}
.ins-section .ins-section-header {
  color: #9a9a9a;
  border-bottom: 1px solid #e2e2e2;
}
.ins-section .ins-slug {
  margin-left: 5px;
  color: #9a9a9a;
}
.ins-section .ins-slug:before {
  content: '(';
}
.ins-section .ins-slug:after {
  content: ')';
}
.ins-section .ins-search-item header,
.ins-section .ins-search-item .ins-search-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ins-section .ins-search-item header .fa {
  margin-right: 8px;
}
.ins-section .ins-search-item .ins-search-preview {
  height: 15px;
  font-size: 12px;
  color: #9a9a9a;
  margin: 5px 0 0 20px;
}
.ins-section .ins-search-item:hover,
.ins-section .ins-search-item.active {
  color: #fff;
  background: #006bde;
}
.ins-section .ins-search-item:hover .ins-slug,
.ins-section .ins-search-item.active .ins-slug,
.ins-section .ins-search-item:hover .ins-search-preview,
.ins-section .ins-search-item.active .ins-search-preview {
  color: #fff;
}
.highlight {
  margin: 0px;
  display: block;
  overflow-x: auto;
  padding: 0 12px;
  font-size: 14px;
  font-family: "Fira Code", "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  line-height: 26.599999999999998px;
  border: 1px solid #eae0c2;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight table td {
  border: none;
}
.highlight table td.code {
  padding: 12px;
}
.highlight .gutter {
  border-right: 1px solid #eae0c2;
  padding: 12px 0;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 12px;
}
.article-entry .highlight {
  margin: 1.6em 0;
}
@media screen and (max-width: 768px) {
  .article-entry .highlight {
    margin: 1.6em -20px;
    border-left: none;
    border-right: none;
  }
}
.article-entry .highlight .line {
  height: 1.6em;
}
.highlight {
  color: #657b83;
  background: #fdf6e3;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #93a1a1;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .addition {
  color: #859900;
}
.highlight .code .number,
.highlight .code .string,
.highlight .code .meta .meta-string,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .regexp {
  color: #2aa198;
}
.highlight .code .title,
.highlight .code .section,
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: #268bd2;
}
.highlight .code .attribute,
.highlight .code .attr,
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .class .title,
.highlight .code .type {
  color: #b58900;
}
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .meta,
.highlight .code .meta .keyword,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .link {
  color: #cb4b16;
}
.highlight .code .built_in,
.highlight .code .deletion {
  color: #dc322f;
}
.highlight .code .formula {
  background: #eee8d5;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
